/**********************/ /* Tipos de Segmento */ /********************/
ul {
	margin: 0;
	padding: 0;
	outline: none;
}

p {
	display: inline;
	font-family: Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
}

table,td,tr,th {
	margin: 0;
	padding: 0;
}

img.anotacaoOrigem { /*vertical-align:top;*/
	margin-left: 20px;
}

.divSegmentos {
	text-indent: 63px;
}

.citacao,.preambulo,.autor,.artigo,.naoidentificado,.paragrafo,.inciso,.alinea,.item,.paragrafo,.resumo,.nao,.identificad,.citacao *,.preambulo *,.autor *,.artigo *,.naoidentificado *,.paragrafo *,.inciso *,.alinea *,.item *,.paragrafo *,.resumo *,.nao *,.identificad *
	{
	text-indent: 63px;
}

.ementa,.fecho,.assinatura,.secao,.subsecao,.titulo,.parte,.capitulo,.livro,.ementa *,.fecho *,.assinatura *,.secao *,.subsecao *,.titulo *,.parte *,.capitulo *,.livro *
	{
	text-indent: 0;
}

.citacao,.ementa,.preambulo,.autor,.parte,.livro,.titulo,.capitulo,.secao,.subsecao,.artigo,.naoidentificado,.paragrafo,.inciso,.alinea,.item,.assinatura,.paragrafo,.fecho,.resumo,.nao,.identificad,.divSegmentos,.citacao *,.ementa *,.preambulo *,.autor *,.parte *,.livro *,.titulo *,.capitulo *,.secao *,.subsecao *,.artigo *,.naoidentificado *,.paragrafo *,.inciso *,.alinea *,.item *,.assinatura *,.paragrafo *,.fecho *,.resumo *,.nao *,.identificad *
	{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 140%;
	color: #000;
	text-align: justify;
	text-decoration: none;
	padding: 6pt 0 0 0;
	clear: left;
}

/*.parte, .livro, .titulo, .capitulo, .secao, .subsecao {padding:7px 6pt 0 6pt;}*/
.citacao {
	padding: 6pt 34px 0 126px;
	text-indent: 0;
	text-align: justify;
}

.ementa,.ementa * {/*alterado*/
	display: block;
	margin: 0 0 0 80px;
	/* width: 9cm;  */
	font-size: 9pt;
	text-align: justify;
	padding: 24pt 0 24pt 0; 
}

.ementa * {
	display: inline;
}

.anotacao_ementa {
	margin-top: -14pt;
}

.livro,.livro * {
	text-transform: uppercase;
	text-align: center;
}

.titulo,.parte,.capitulo,.titulo *,.parte *,.capitulo * {
	text-transform: uppercase;
	text-align: center;
}

.secao,.subsecao,.secao *,.subsecao * {
	text-align: center;
	font-weight: bold;
}

.secao * :first-letter,.subsecao * :first-letter {
	text-transform: uppercase;
}

.fecho,.assinatura {
	text-align: center;
}

.fecho * { /*display: block;*/
	text-align: center;
}

.assinatura {
	padding: 48pt 0 0 0;
}

.anexo {
	margin: 6pt 0 0 0;
}

.anotacao {
	margin: 10px 0px;
	padding: 5px 0px;
	text-decoration: none;
	clear: right;
}

.anotacao_borda {
	margin: 7px 0px;
	text-decoration: none;
	padding: 5px 0px;
	clear: right;
	border: none;
}

a.linkAtos {
	padding: 0 0 0 0;
}

/* Classes de Uso Geral */
.left {
	float: left;
}

.right {
	float: right;
}

.cleft {
	clear: left;
}

.cright {
	clear: right;
}

.tleft {
	text-align: left;
}

.tright {
	text-align: right;
}

.colorRed {
	color: #FF0000
}

.block {
	display: block;
}

.tachado,.tachado * {
	text-decoration: line-through;
}

.LinksAnotacoes {
	width: 80%;
	border: 1px solid #666;
	margin: 0 auto 5px auto;
	padding: 5px;
}

.textoIntegraReduzidoSegmento {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FF0000;
}

/* Configura��es Gerais */
a:link,a:visited {
	color: #0066CC;
	text-decoration: none;
}

a:hover {
	color: #0099ff;
	text-decoration: underline;
}

body {
	margin: 0;
	font: 11px/150% Verdana, Arial;
	color: #000000;
	text-align: justify;
}

div#divPrincipal {
	margin: 0 0.5% 0 0.5%;
	position: relative;
	/*width: 758px;*/
}

div#divTopo {
	background: none;
	/*border: 1px solid #000;*/
	border-top: none;
	border-bottom: none;
	min-height: 66px;
	_height: 66px;
}

div#divTopoImpressao {
	border-bottom: none;
}

h1.title {
	letter-spacing: -1px;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 150%;
	color: #356AA0;
	clear: right;
	padding: 10px 5px 0 5px;
}

div#divConteudo {/*alterado*/
	background: #fff;
	/*border: 1px solid #000;*/
	/* border-bottom: 1px solid #000; */ 
	padding: 0px 0px 5px 0;
	clear: right;
	/*overflow: auto;*/
}

div#divTexto {
	padding: 0 21px 10px 21px;
	text-indent: 63px;
}

/* Corrige bug no IE na tela de apresenta��o dos resultados da pesquisa: */
div#divTexto table {
	text-indent: 0;
}

.divTituloAto {
	background: #f0f0ed url("../imagens/barra-titulo-sem-menu.gif") repeat-y;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 140%;
	padding: 10px 5px 0 5px;
	display: block;
	height: 26px;
	_margin-top: -20px;
}

.divTituloAto * {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #000;
	text-decoration: none;
	font-weight: bold;
	text-transform: uppercase;
	line-height: 140%;
}

.tdColorConteudoPesquisa {
	background-color: #f3f7ff;
}

.tituloTabela {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #ffffff;
	text-decoration: none;
	font-weight: bold;
	background-color: #6580b1;
	padding: 0px 0px;
	margin: 0;
}

.TituloTabela th,.TituloTabelaIntegrada th {
	background: #6580b1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	text-decoration: none;
	font-weight: bold;
	line-height: 140%;
	padding: 0 5px 0 5px;
	height: 20px;
	_margin-top: -20px;
	text-align: center;
}

.TituloTabelaIntegrada tr th {
	color: #fff;
	padding: 3px;
}

.TituloTabelaIntegrada td {
	padding: 5px;
}

.TrechosLocalizados td {
	color: #000;
	padding: 0 5px;
}

.TituloTabela td span,.TituloTabela td span * {
	color: #000;
}

.TituloTabela td {
	color: #fff;
	padding: 0 5px;
}

.TituloTabela td span.siglaOrgao {
	text-transform: uppercase;
	color: #FF0000;
}

.divTituloAto .visoes a:link,.divTituloAto .visoes a:visited {
	padding: 3px 3px 3px 3px;
	text-transform: none;
	color: #000;
}

.divTituloAto a:link,a.tituloAtoVisaoSelecionada a:link {
	padding: 0 3px 0 3px;
	text-decoration: yes;
	color: #ffffff;
}

a.tituloAtoVisaoSelecionada {
	background-color: #abc1d6;
}

.divTituloAto a:visited {
	text-decoration: none;
	color: #ffffff;
}

.divTituloAto a:hover {
	text-decoration: underline;
	color: #ffffff;
}

/* Pesquisa */
.tituloPesquisa {
	background-color: #64A70B;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	padding: 3px 5px;
	margin: 5px 0;
}

.frmPesquisa {
	padding: 0px;
	text-align: left;
}

.frmPesquisa input,.frmPesquisa select {
	margin: 0px 0px;
}

.dataPesquisa {
	text-align: right;
	width: 365px;
	margin: 10px auto;
}

.pesquisaTextual {
	width: 660px;
	margin: 10px auto;
	text-align: right;
}

input.inputText,select.select {
	border: 1px solid #516c9b;
	height: 20px;
}

label {
	font-size: 107%;
}


.tabelaMenuSubPaginas {
	font-family: BitStream, sans-serif, Arial;
	font-size: 11px;
	color: #003399;
	font-weight: bold;
	display: block;
	margin: 3px 0;
	padding: 3px;
}

.tabelaMenuSubPaginas a:link {
	background: #ebeee6;
	font-family: BitStream, sans-serif, Arial;
	font-size: 11px;
	color: #003399;
	font-weight: bold;
}

.tabelaMenuSubPaginas a:visited {
	background: #ebeee6;
	font-family: BitStream, sans-serif, Arial;
	font-size: 11px;
	color: #003399;
	font-weight: bold;
}

.conteudoAviso {
	background-color: #fff;
	margin: 3px 0;
	padding: 3px;
}

div#divRodape { /*width: 746px;*/
	/*border: 1px solid #000;*/
	text-align: center;
	padding: 5px;
	margin: 0 auto;
	clear: left;
	height: 60px;
	_margin-top: -19px;
}

div.irtopo a {
	position: fixed;
	bottom: 1%;
	right: 1%;
}

a.home {
	display: block;
	background: url("../imagens/gohome.png") no-repeat;
	margin: 5px;
	height: 22px;
	width: 151px;
	padding: 3px 0 0 28px;
	vertical-align: middle;
}

div#divRodape a.home {
	padding: 0 0 0 0;
}

a.print {
	display: block;
	background: url("../imagens/impressora.gif") no-repeat;
	margin: 5px;
	height: 18px;
	padding: 0 0 0 22px;
	vertical-align: middle;
}

.menu {
	list-style: none;
	margin: 5px 0 0 5px;
	border: 1px solid #c0c0c0;
	float: left;
}

.menu li {
	position: relative;
	float: left;
	border-right: 1px solid #c0c0c0;
}

.menu li a {
	color: #333;
	text-decoration: none;
	padding: 5px 10px;
	display: block;
}

.menu li a:hover {
	background: #fff;
	color: #002077;
	-moz-box-shadow: 0 3px 10px 0 #CCC;
	-webkit-box-shadow: 0 3px 10px 0 #ccc;
	text-shadow: 0px 0px 5px #002077;
}

.menu li ul {
	position: absolute;
	top: 23px;
	left: -20px;
	background-color: #fff;
	display: none;
}

.menu li:hover ul ul {
	display: none;
}

.menu li:hover ul,.menu li ul li:hover ul,.menu li.over ul,.menu li ul li.over ul
	{
	display: block;
}

.menu li ul li {
	border: 1px solid #c0c0c0;
	display: block;
	width: 140px;
}

li.border0 {
	border: 0;
}

.menu li ul li ul {
	z-index: 900;
	top: 0;
	left: 110px;
	background: #eaeaea;
}

.texto {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
}

.texto a:link {
	text-decoration: underline;
	color: #859bc3;
}

.texto  a:active {
	text-decoration: underline;
}

.texto a:visited {
	text-decoration: none;
	color: #000000;
}

.texto a:hover {
	text-decoration: none;
	color: #000000;
}

.style1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-transform: uppercase;
	color: #FF0000;
}

.msgVermelho {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #FF0000;
}

td.tdEmenta {
	padding: 5px;
}

td.tdEmenta * {
	width: 100%;
	text-align: justify;
}

td.tdSegConteudo * {
	max-width: 100%;
	text-align: justify;
}

.titulo_visao {
	font-family: Arial;
	font-size: 12px;
	color: #003399;
	font-weight: bold;
}

.bt {
	color: #000000;
	font-weight: bolder;
	font-size: 10px;
	background-image: url(../imagens/fundo_bt.gif);
	border: 1px #666666 outset;
	background-color: #CCCCCC;
	font-family: Arial;
	cursor: Pointer;
}
/*
input, Select, textarea{
	font-family: Verdana; 
	font-size: 8pt; 
	color: #000000; 
	background-color: #FFFFFF; 
	border: 1px solid #595959;
	vertical-align: middle;
}
*/
.sumario {
	display: block;
	background: #6580b1;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #fff;
	font-weight: bold;
	line-height: 140%;
	text-align: center;
	margin: 0;
	padding: 3px 0;
}

img.cal {
	vertical-align: middle;
	cursor: pointer;
}

a.upArrow,a.upArrow:hover {
	display: block;
	background-image: url(../imagens/up.png);
	width: 22px;
	height: 22px;
}

a.upArrow {
	background-position: 0 22px;
}

a.upArrow:hover {
	background-position: 0 0;
}

#wrap {
	width: 100%;
	height: 24px;
	background: #00500f url(../imagens/linha_brasil.png) repeat-x;
	text-align: center;
}

#logoBrasil {
	width: 100%;
	height: 24px;
	float: none;
	clear: right;
	margin: 0 auto;
	padding: 0;
	background: transparent url(../imagens/brasil.png) no-repeat right;
}

#logoBrasil a.linkBrasil {
	display: block;
	width: 106px;
	height: 24px;
	position: absolute;
	top: 0;
	right: 0;
}

div.avisoSijut {
	color: red;
	font-size: 12px;
	text-align: left;
	padding: 20px 0;
}

mark{
	background: #F5FF00;
    font-weight: none;
    color: #000000;    
}

.collapse .inativo {
  display: none; 
  cursor: pointer;
  }
.collapse .ativo {
 visibility: visible; 
   cursor: pointer;
 }
 .btn-menu-lateral {
 	min-height: 38px;
    height: 40px;
    width: 100%;
}
.mensagemAlertaOriginal {
	display: block;
	margin-top: 20px;
	margin-left: auto;
	width: 9cm;
	height: 1.5cm;
	padding: 2 0 2 0;
	background-color: #ff7f27;
	color: #fff;
	font-size: 10.5px;
	font-weight: bold;
	line-height: 1.3em;
	text-align: center;
	text-indent: 0;
	/* Internet Explorer 10 */
	display: -ms-flexbox;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	/* Firefox */
	display: -moz-box;
	-moz-box-pack: center;
	-moz-box-align: center;
	/* Safari, Opera, and Chrome */
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	/* W3C */
	display: box;
	box-pack: center;
	box-align: center;}
.mensagemAlertaOriginal span{
	width: 8cm;
	text-indent: 0; 
	}
.ementa strike{ /*alterado*/
	padding: 0;
	margin: 0;
}

.historicoEpigrafeClass{
	
	border: solid 4px #ff7f27;
	display: none;
	position: fixed;
	clear: right;
	width: auto;	
	background-color: white;
	overflow:hidden;
	height:auto;
}

.historicoEpigrafeClass ul{	
	list-style: none;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.historicoEpigrafeClass li span{
	font-size: 12px;
	font-weight: bold;
	color: #ff7f27;
}
.historicoEpigrafeClass li {
	margin-top: 5px;
	font-size: 11px;
}
